body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    padding: 0px;
    background-color: #cfd0d4;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

#taskList {
    list-style: none;
    padding: 30px;
    max-width: 500px;
    margin: auto;
}

#taskList li {
    background-color: rgb(252, 252, 252);
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
}

#taskList li button {
    background-color: rgb(255, 8, 8);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}